main .cuerpoPrincipal .col img {
  width: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  position: relative;
}

main .cuerpoPrincipal .col img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.main__insumos {
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 20px;
          column-gap: 20px;
  justify-items: center;
}

section footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d79f5), to(blue));
  background-image: linear-gradient(#0d79f5, blue);
}

section footer p {
  margin-top: 35px;
  color: white;
}

main .table .table__thead {
  background: #3fa9f0;
}

main .table .table__tbody {
  background: #3cc7f1;
}
